.avatar {
  &__label {
    display: flex;
    gap: 11px;
    cursor: pointer;

    &:hover {
      color: #096601;

      .avatar__input-text {
        background-color: #daffd7;
        color: $text;
      }
    }
  }
  &__text {
    font-weight: 300;
  }
  &__input-wrapper {
    position: relative;
  }
  &__input {
    position: absolute;
    transform: scale(0);

    &:focus + .avatar__input-text {
      background-color: #daffd7;
      border: 1px solid #096601;
    }
  }
  &__input-text {
    padding: 10px 20px;
    border: 1px solid #12df00;
    border-radius: 4px;
  }
  &__result {
  }
}
