.category {
  position: relative;
  &__title {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 24px;
    width: 180px;
    position: relative;
    z-index: 5;

    @include tablet {
      margin-bottom: 0;
    }
  }
  &__list {
    padding-top: 24px;

    @include tablet {
      display: none;
      position: absolute;
      z-index: 3;
      top: -16px;
      left: -16px;
      background: #ffffff;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      border-radius: 12px;
      padding: 60px 12px 16px 16px;
    }
  }
  &__item {
    margin-bottom: 10px;
  }
  &__btn {
    font-weight: 300;
    padding-left: 30px;
    background-position: left;
    background-size: 18px;
    background-repeat: no-repeat;
    text-align: left;

    &_photographer {
      background-image: url("img/photographer.svg");
    }
    &_makeup {
      background-image: url("img/makeup.svg");
    }
    &_masseure {
      background-image: url("img/masseure.svg");
    }
    &_handyman {
      background-image: url("img/handyman.svg");
    }
    &_cosmetologist {
      background-image: url("img/cosmetologist.svg");
    }
    &_electrician {
      background-image: url("img/electrician.svg");
    }
    &_manicurist {
      background-image: url("img/manicurist.svg");
    }
    &_plumber {
      background-image: url("img/plumber.svg");
    }
  }
}
