.category {
  &__title {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 24px;
  }
  &__list {
  }
  &__item {
    margin-bottom: 10px;
  }
  &__btn {
    font-weight: 300;
    padding-left: 30px;
    background-position: left;
    background-size: 18px;
    background-repeat: no-repeat;
    text-align: left;

    &_photographer {
      background-image: url("img/photographer.svg");
    }
    &_makeup {
      background-image: url("img/makeup.svg");
    }
    &_masseure {
      background-image: url("img/masseure.svg");
    }
    &_handyman {
      background-image: url("img/handyman.svg");
    }
    &_cosmetologist {
      background-image: url("img/cosmetologist.svg");
    }
    &_electrician {
      background-image: url("img/electrician.svg");
    }
    &_manicurist {
      background-image: url("img/manicurist.svg");
    }
    &_plumber {
      background-image: url("img/plumber.svg");
    }
  }
}
