/* roboto-300 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local(""),
    url("fonts/roboto-v30-latin_cyrillic-300.woff2") format("woff2"),
    url("fonts/roboto-v30-latin_cyrillic-300.woff") format("woff");
}
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("fonts/roboto-v30-latin_cyrillic-regular.woff2") format("woff2"),
    url("fonts/roboto-v30-latin_cyrillic-regular.woff") format("woff");
}
