.footer {
  padding: 55px 0;

  @include tablet {
    padding-bottom: 30px;
  }
  @include mobile {
    padding-bottom: 14px;
  }
  &__container {
    display: grid;
    grid-template-areas:
      "logo ."
      "copyright contact";
    gap: 14px;
    // "logo . ."
    // ". . design"
    // "copyright . tag";

    @include mobile {
      grid-template-areas:
        "logo"
        "contact"
        "copyright";
      gap: 0;
    }
  }
  &__logo {
    grid-area: logo;
    margin-bottom: 14px;

    @include tablet {
      margin-bottom: 44px;
    }
  }
  &__copyright {
    grid-area: copyright;
    align-self: end;
  }
  &__contact {
    grid-area: contact;
    justify-self: end;

    @include mobile {
      justify-self: start;
      margin-bottom: 33px;
    }
  }
  &__design {
    // grid-area: design;
    // text-align: right;
    margin-bottom: 7px;
  }
  // &__tag {
  //   grid-area: tag;
  //   text-align: right;
  // }
}
