.header {
  padding: 26px 0 25px;
  &__container {
    display: flex;
    align-items: center;
    gap: 20px 30px;

    @include tablet {
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  &__logo {
    margin-right: 58px;

    @include laptop {
      margin-right: 38px;
    }
    @include tablet {
      margin-right: 0;
    }
  }
  &__search {
    margin-right: auto;
    @include tablet {
      order: 1;
    }
  }

  &__auth {
    display: flex;
    gap: 40px;

    @include laptop {
      gap: 30px;
    }
    @include mobile {
      gap: 30px;
    }
  }
  &__auth-btn {
    display: flex;
    align-items: center;
    gap: 4px;
    transition: color 0.3s ease-in-out;
    &:hover {
      color: #e5c207;
    }
    &:active {
      color: #ffd600;
    }

    @include mobile {
      font-size: 0;
      gap: 0;
    }
  }

  &__sign-in {
    display: none;
  }

  &__user_data {
    display: flex;
    flex-direction: column;
    margin-right: 9px;
  }
  &__user_name {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
  &__user_category {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }
  &__user_avatar {
    height: 24px;
    width: 24px;
    margin-right: 4px;
  }
  &__changestatus {
    width: 150px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }
}
