.modal {
  display: none;
  position: fixed;
  inset: 0;
  padding: 40px;
  overflow-y: auto;
  cursor: pointer;
  background-color: rgba(#000000, 0.6);
  z-index: 999;

  @include tablet {
    padding: 20px;
  }

  @include mini {
    padding: 0;
  }

  &__title {
    font-weight: 400;
    font-size: 24px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 24px;

    @include mobile {
      font-size: 18px;
    }
  }

  &__sign-up {
    display: none;
  }

  &__body {
    position: relative;
    cursor: default;
    margin: auto;
    max-width: 768px;
    width: 100%;
    background-color: #f2f5fc;
    border-radius: 12px;
    padding: 24px 20px 48px;

    @include mobile {
      padding-bottom: 27px;
    }
    &_sign-in {
      @include mobile {
        padding-bottom: 32px;
      }
    }
    &_person {
      @include mobile {
        padding-top: 20px;
        padding-bottom: 23px;
      }
    }
  }

  &__container {
    max-width: 632px;
    margin: 0 auto;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    transform: translate(+50%, -50%);
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7b7b7b;
    z-index: 10;

    &:hover {
      color: #000000;
    }

    @include mini {
      transform: none;
      box-shadow: 0 0 10px #ccc;
    }
  }
}
