.search {
  position: relative;
  max-width: 580px;
  width: 100%;
  height: 46px;
  &__input {
    background-color: #ffffff;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    border: none;
    padding: 10px 24px;
    color: #a9a9a9;
    font-weight: 300;
  }
  &__submit {
    line-height: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 24px;
  }
}
