.service {
  padding: 24px;
  background-color: #fff;
  border-radius: 8px;
  display: grid;
  grid-template-areas:
    "avatar present price"
    "contacs contacts review";
  grid-template-columns: 50px 1fr max-content;
  gap: 20px 24px;
  &_person {
    gap: 40px 14px;
  }

  &__avatar {
    grid-area: avatar;
  }
  &__present {
    grid-area: present;
  }
  &__price {
    grid-area: price;
    font-size: 24px;
    text-align: right;
  }
  &__contacts {
    grid-column: span 2;
    align-self: end;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__link {
    position: relative;
    display: flex;
    gap: 9px;
    align-items: center;

    &::before {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
    &_phone:before {
      background-image: url("img/phone.svg");
    }
    &_email:before {
      background-image: url("img/email.svg");
    }
  }
  &__review {
    grid-area: review;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 16px;
  }
  &__title {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 400;
  }
  &__name {
    font-weight: 300;
  }

  &__count-review {
    padding-left: 18px;
    background: url("img/icon-comment.svg") left/14px no-repeat;
  }
}
